<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>环状图 - 数据规范 仪表盘</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body ng-app="chart-ring">

<div class="container" ng-controller="chartRingCtrl">
    <div class="row">
        <div class="col-md-4" style="height: 300px;">
            <chart-ring option="option" ring-click="onRingClick();" output-data="nodeInfo"></chart-ring>
        </div>
        <div class="col-md-8">
            <pre>
<strong>默认option指令</strong>:
<code>
    < chart-ring option="option">< /chart-ring>
    <span class="text-danger">【必写属性】</span>默认option，参数有限，配置简单
</code>

<strong>scope中的数据：</strong>
<code>
    $scope.option = {
        name:'访问来源',
        series:[                        //【必填】
            {value:335, name:'直接访问'},
            {value:310, name:'邮件营销'},
            {value:234, name:'联盟广告'},
            {value:135, name:'视频广告'},
            {value:1548, name:'搜索引擎'}
        ],
        backgroundColor: '#f5f5f5',     //背景颜色，默认无背景色
        saveAsImage: false              //是否显示“保存为图片”
    };
</code>
<hr/>
<strong>增强option指令</strong>:
<code>
    < chart-ring option="option" origin="true">< /chart-ring>
    origin="true" ： option可以是echarts ring支持的所有属性
</code>

<strong>scope中的数据：</strong>
    <a href="http://echarts.baidu.com/demo.html#pie-doughnut" target="_blank">参考官方文档</a>
<hr/>
<strong>响应点击事件指令：</strong>
<code>
    < chart-ring option="option" ring-click="onRingClick();" output-data="nodeInfo">< /chart-ring>
    ring-click="onRingClick();"： 自定义点击事件
    output-data="nodeInfo"： <span class="text-danger">【必写属性】</span>点击处的数据
</code>

<strong>scope中的数据：</strong>
    $scope.onRingClick = function(){
        console.table($scope.nodeInfo);
    }
<hr/>
    <p class="bg-warning">
    如果legend数据太长导致内容重叠，提供三种建议方案：
        方案1. 增加图表显示区域的宽高；
        方案2. 将origin置为true，通过更全的参数调整渲染布局；
        方案3. 将legend隐藏，在图标DOM旁边自定义legendDOM。

    </p>
            </pre>
        </div>
    </div>
</div>

<script src="lib/jquery-1.11.3.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/echarts.js"></script>
<script src="lib/underscore/underscore-min.js"></script>

<script src="js/chart-directive.js"></script>
<script src="js/ring.js"></script>
</body>
</html>